
#RenDate{
    display: none;
    text-align: center;
}
header{
    display: grid;
    grid-template-columns: 500px 1fr;
    
}
#div1 button{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgb(144, 185, 238) ;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 75px;

}
#div6 button{
    background-color: lightgray ;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 75px;
    width: 100%;


}
 #div1 button a{
    color: white;
    text-decoration: none;
 }

#homepic{
    width: 100%;
  
}
.date{
    text-align: center;
    background-color: white;
    
}
nav button{
    background-color: blue;
}


nav li{
    display: none;
    background-color: aqua;
    padding: 10px;
    width: 50px;
    
}
nav li:hover{
    background-color: yellow;
    color: blue;
}
nav a{
    text-decoration: none;
}
.happen li {
    display: block;
}
.HMB{
    cursor:pointer
}
ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
#div1{
    background-color: lightgray;
    height: 300px;
    position: relative;
}


#div2{
    background-color: blue;
    height: 300px;
    text-align: center;
    padding: 10px;



}
#div2 h2 {
    text-align: center;
}
#icon1{
    width: 30px;
}
#icon2{
    width: 70px;
}
#icon3{
    width: 100px;
}
#div3a h3{
    font-size: 30px;
}
#div2 h2{
    color: yellow;
    font-size: 25px;
    
}
#div3a h2{
    color: yellow;
    font-size: 25px;
    text-align: center;
    
}
#div2 h3{
    color: white;   
}

#div3a{
    background-color: blue;
    height: 300px;
    text-align: center;

}

#div3{
    background-color: blue;
    height: 300px;
    text-align: center;
    padding: 10px;

}

#div4{
    background-color: blue;
    height: 300px;
    border: solid black 2px;
    text-align: center;
    padding: 10px;

}

#div5{
    background-color: lightgray;
    height: 300px;
    border: solid black 2px;
}
#div6{
    display: none;
    background-color: blue;
    text-align: center;
    padding: 10px;

}
#div7{
    display: none;
}

body {
    background-color: purple;
  }
  
  @media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    #div1{
        grid-column: 1/5;
        grid-row: 1/2;
        position: static;
    }
    #div2{
        grid-column: 1/4;
        grid-row: 5/6;
    }
    #div3{
        grid-column: 1/5;
        grid-row: 2/3;
    }
    #div4{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #div5{
        grid-column: 3/5;
        grid-row: 3/4;
    }
    #div6{
        display: block;
        grid-column: 1/5;
        grid-row: 4/5;
        height: 300px;
        background-color: lightgray;
    }
    #div7{
        display: none;
    }
    footer{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
     #top{
        display: flex;
        justify-content: space-around;
        background-color: lightcoral;
    }
    #bottom{
        display: flex;
        justify-content: space-around;
        background-color: aqua;
        
    }
    




  }
  @media only screen and (min-width: 1115px) {
    body {
      background-color: white; 
    }
    main{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    ul{
        
        flex-direction: row;
    }
    
    #div1{
        grid-column: 2/3;
        grid-row: 1/3;
        height: 600px;
        position: relative;
    }
    #div2{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #div3a{
        grid-column: 1/2;
        grid-row: 2/3;
        
    }
    #div6{
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: blue;
    }
    #div3{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #div4{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #div5{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #div7{
        display: block;
        grid-column: 3/4;
        grid-row: 3/4;
        height: 300px;
        background-color: lightgray;
        border: solid black 2px;
    }
 
    #top{
      
        background-color: lightcoral;
    }
    #bottom{
       
        background-color: aqua;
    }
    nav li{
        display: block;
    }
    .HMB{
        display: none;
    }

  }