/* tr:nth-child(odd){
    background-color: lightgray;
} */

tbody tr:nth-child(3)  {
    font-style: italic;
}
tr:nth-child(5) td:nth-child(3){  /* 5 rows down .... Third child of that row*/
    background-color: lightgray;
}

tr:nth-child(even){
    background-color: lightgrey;
    
}

thead td, tfoot td{
    background-color: blue;
    text-align: center;
}

td, th{
    padding: 10px;
    font-size: 2em;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}


table{
    width: 600px;
    margin: 0 auto; /** Its a block lever so margin 0 auto **/
}

form{
    margin-bottom: 50px;
}