#banner{
    width: 100%;
    height: 500px;
    
}


p{
    font-family: Source Sans Pro, sans-serif;
}
h1 h2 h3 h4 h5{
    font-family: Roboto;
}
nav a{
    text-decoration: none;
    color: gold;
    text-align: center;
    padding: 15px;
    display: block;
  }
  nav a:hover{
    background-color: white;
    color: blue;
  }
  footer a{
    text-decoration: none;
    color: gold;
    text-align: center;
    padding: 25px;
  }
  footer h3{
    color: white;
  }
  body{
    background-color: red;
    margin: 0;
    padding: 0;
  }  
  picture{
    position: relative;
  }
  .pictureA{
    position: absolute;
    z-index: 1;
    bottom: 200px;
    right: 100px;
    border-radius: 5em;
    background-color: black;
    
  }
  a{
    text-decoration: none;
    padding: 20px;
    font-size: 1em;
    color: white;
  }
  main h1{
    text-align: center;
    grid-column: 1/3;
  }

  @media only screen and (min-width: 500px){
    p{
        font-family: Source Sans Pro, sans-serif;
    }
    h1 h2 h3 h4 h5{
        font-family: Roboto;
    }
    #logoh1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5px;
        }
        main{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            padding: 5px;
        }
        main h1{
            text-align: center;
            grid-column: 1/3;
        }
        footer{
            display: flex;
            justify-content: space-around;
            background-color: black;
            margin-top: 100px; 
        }   
        body{
            background-color: #99582A;
        }
        header{
            background-color: black;
            margin-top: -5px;
        }
        footer .social img   {
            padding-top: 15px;
        }      
        nav a{
            padding: 35px;
        }
        tbody tr:nth-child(3)  {
          font-style: italic;
      }
      tr:nth-child(5) td:nth-child(3){  /* 5 rows down .... Third child of that row*/
          background-color: lightgray;
      }
      
      tr:nth-child(even){
          background-color: lightgrey;
          
      }
      
      thead td, tfoot td{
          background-color: blue;
          text-align: center;
      }
      
      td, th{
          padding: 10px;
          font-size: 1em;
      }
      table, th, td{
          border: 1px solid black;
          border-collapse: collapse;
      }
      
      
      table{
          width: 100%;
          margin: 0 auto; /** Its a block lever so margin 0 auto **/
          margin-top: 25px;
      }
      
      form{
          margin-bottom: 50px;
      }
      main table{
        grid-column: 1/3;
      }
      nav{
        display: flex;
        justify-content: space-between;
      }
  }