#banner{
    width: 100%;
    height: 500px;
    
}

nav{
  display: flex;
  justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: gold;
    text-align: center;
    padding: 15px;
    display: block;
  }
  nav a:hover{
    background-color: white;
    color: blue;
  }
  footer a{
    text-decoration: none;
    color: gold;
    text-align: center;
    padding: 25px;
  }
  footer h3{
    color: white;
  }
  body{
    background-color: red;
    margin: 0;
    padding: 0;
  }
  picture{
    position: relative;
  }
  button{
    position: absolute;
    z-index: 1;
    bottom: 100px;
    right: 100px;
    border-radius: 5em;
    background-color: black;
    
  }
  button a{
    text-decoration: none;
    padding: 20px;
    font-size: 2em;
    color: white;
  }
  

@media only screen and (min-width: 500px){
    #logoh1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
        main{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
        }
        main h2{
            grid-column: 1/5;
            grid-row: 1/2;
        }
        #title1{
            grid-column: 1/5;
            grid-row: 2/3;
            }
        #p2div1{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        #title2{
            grid-column: 1/5;
            grid-row: 4/5;
        }
        #title3{
            grid-column: 1/5;
            grid-row: 6/7;
        }
        footer{
            display: flex;
            justify-content: space-around;
            background-color: black;
        }
        body{
            background-color: #99582A;
        }
        header{
            background-color: black;
        }
        footer .social img   {
            padding-top: 15px;
        }
        nav a{
            padding: 35px;
          }
}


/* 
main img{
    width: 100%;
} */