img{
    width: 10%;
}


.grid > article{
    border: solid 10px red;
}

#button{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.list{
    display: block;
    justify-content: space-evenly;
}

.cardlist, article{
    border: 10px solid purple;
    margin-top: 5px;
}

@media only screen and (min-width: 500px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
       
    }
}

@media only screen and (min-width: 1000px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
       
    }
}